<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{welcome}}</h1>
    <!-- Getting news source -->
    <h2>News Source</h2>
    <ol>
        {% for source in sources%}
        <!-- <p>{{source.category}}</p> -->
        <li>{{source.name}}</li>
        <p>{{source.description}}</p>
        <a href="{{source.url}}">View news</a>
       
        <!-- <p>{{source.language}}</p>
        <p>{{source.country}}</p> -->
        {% endfor %}
    </ol>
</body>
</html>